*{
  margin: 0;
  padding: 0; /*preenchimento interno*/
  box-sizing: border-box;
   
  }

  body{
    height: 100vh;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--body-bg-color);
  }
  .page{
    border: 25px solid;
    min-height: 100vh;
    display: flex;
    gap: 30px;
    
 
  }

 

 
  :root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    --box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);;
  }
 
 
  aside{
    background: greenyellow;
    
      flex: 0 1 auto; /* flex-grow: 0; flex-shrink: 1; flex-basis: auto (tamanho original) */
      max-width: 348px; /* Largura máxima fixa de 348px */
      min-width: 208px; /* Largura mínima de 208px quando encolher */
  
    
  }
  aside div{ 
   margin-bottom: 30px;
  }

 /*ASIDE CONTAINER PHOTO*/
  #containerPhoto{
    border: 2px solid red;
    text-align: center;
    border-radius: 20px;
    color: var(--text-color);/*text color*/
    background-color:var(--bg-cards) ;
    box-shadow: var(--box-shadow);
  }

  .photoProfile{
    border: 2px solid rgba(0, 255, 0, 1);
    border-radius: 50%;
    display: block;
    width: 132px;
    margin: 32px auto 30px;
  }
  
  #containerPhoto p{
    margin: 0 auto 49px;
    font-size: 13px;
    font-weight: 300;
  }


/*ASIDE CONTAINER INFOS*/

 #containerInfos{
  border-radius: 20px;
  border: 2px solid blue;
  color: var(--text-color);
  background-color: var(--bg-cards);
  font-size: 13px;
  font-weight: 400;
  box-shadow: var(--box-shadow);
 }

 #containerInfos ul {/*box da lista no geral*/
  display: flex;
  gap: 28px;
  flex-direction: column;
  margin: 30px  40px;
 }

 #containerInfos ul li{/*itens da lista. Aqui alinhou img com text, na horizontal*/
  display: flex;
  align-items: center;
  
 }

 #containerInfos ul li img{
  margin-right:20px ;
 }



 /*ASIDE CONTAINER TECNOLOGIAS */
 #containerTecnologias{
  border: 2px solid purple;
  border-radius: 20px ;
  color: black;
  background-color: var(--bg-cards);
  box-shadow: var(--box-shadow);
  
 }

 #containerTecnologias h2{
  font-size: 20px;
  font-weight: 700;
  margin: 30px 20px 20px;
  color: var(--text-color);
 }


  #containerTecnologias div{
 
  display: flex;
  flex-direction: column;
  gap:15px;
  margin: 10px 20px 30px;

}

  #containerTecnologias div section{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 24px;
  
  
}

#containerTecnologias div section box{
  font-size: 10px;
  font-weight: 700;
  display: flex;
  border: 2px solid #CB92B1;
  background-color: #CB92B1;
  border-radius: 30px;
  width: 86px;
  align-items: center;
  justify-content: center;
  height: 24px;
}




  
  /*ASIDE CONTAINER EDUCAÇÃO*/
  #containerEducação{
    border: 2px solid peru;
    border-radius: 20px;
    background-color: var(--bg-cards);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
   }
  
   #containerEducação h2{
    font-size: 20px;
    font-weight: 700;
    margin: 30px 20px 20px;
    color: var(--text-color);
    
   }
  
   #containerEducação ul li{
    margin: 10px 65px 30px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: var(--text-color);

   }
  
  
   #containerEducação ul li p{
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
   }
  
  
  
  /*MAIN MY PROJECTS*/
  main{
    gap: 30px;
  }

  main{
    background: var(--body-bg-color);
    flex:2;/*/*significa "cresce por igual, pegando 2 frações"  ocupando 2/3 do espaço*/
    
    display: flex;
    flex-direction: column;/*para ficar os elementos um abaixo do outro*/
    
  }
  
  main section:nth-child(1){
    background: white;
    flex:2 0;
    
  }
  
  main section:nth-child(2){
    background:orange;
    flex:0 100px;/*'0' para não crescer por igual, e vai ter uma altura fixa de '100px', ou seja NÃO É FLEXÍVEL(não é flex), não vai se adaptar*/
  }
  
  main section:nth-child(3){
    background:pink;
    flex:1 0;
  }


  #myProjects{
    border: 2px solid blue;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    height: 86px;
    padding: 30px;
    color: var(--text-color);
    background-color: var(--bg-cards);
    box-shadow: var(--box-shadow);
  }
  
  #myProjects h2{
    font-size: 20px;
    font-style: normal;
    font-weight: 700
  }
 
  #myProjects a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
  }




  /*MAIN BOX PROJECTS*/
 
  #boxesProjects{
    display: flex;
    border: 2px solid rgb(0, 255, 234);
    flex: 0 1 186px ;
  }

  #boxesProjects div{
    display: flex;
    border: 2px solid rgb(76, 0, 255);
    flex: 0 1 50%;

    border-radius: 20px;
    color: var(--text-color);
    background-color: var(--bg-cards);

    flex-direction: column;
    
    box-shadow: var(--box-shadow);
    }

    #boxesProjects  div h3 img{
      display: flex;
      margin: 22px 12px 20px 30px;
      align-items: center;
    }


    #boxesProjects div h3{
      position: relative;
      display: flex;
      border: 2px solid red;
      align-items: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      margin: 0 30px 0 0;
      text-wrap: nowrap;
    }


    #boxesProjects p{
      display:flex ;
      margin-left: 30px;
    }



    #boxesProjects p img {
    border: 2px solid rgb(255, 0, 242);
    display: flex;
    align-items:center ;
    display: inline-flex;
    margin: 30px 8px  26px 0;

   }


   #boxesProjects p span{
    display: inline-flex;
    align-items:center ;
    margin-right: 16px;
    border: 2px solid rgb(0, 255, 0);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

   }



  /*MAIN RECENT REPOSITORIES*/
  /*same configs "MY projects"*/







  /*MAIN carousel*/

  #carousel {
    display: flex;
    flex-direction: row; /* Alinhe as iframes horizontalmente */
    overflow: hidden; /* Oculte as iframes que não estão visíveis */
    position: relative;
  }
  
  #carousel iframe {
    width: 80%;
    height: 800px;
    border: none;
    display: none; /* Oculte as iframes por padrão */
  }
  
  #prev,
  #next,
  #playPause {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.178);
    color: rgba(255, 255, 255, 0.575);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    

  }
  
  
  
  #prev {
    left: 10px;
    
  }
  
  #next {
    right: 10px;
  }
  
  #playPause {
    left: 50%;
    transform: translateX(-50%);
  }
  
  












  /*ANIMAÇÕES HOVER*/
  
  #myProjects a:hover{
    color: aliceblue;
    transition: 0.6s;
 }
 




  #prev:hover {
   background-color:var(--bg-cards);
  
  }

  #next:hover {
   background-color: var(--bg-cards);
  }

  #playPause:hover {
    background-color: var(--bg-cards);

  }
